/* Tailwind CSS */
@import "tailwindcss";

@theme
{
  
 /* === Deep Plum Color =====  Primary Color - #693560 ======*/
 --color-plum-50: #fcf7fc;
 --color-plum-100: #f9eef8;
 --color-plum-200: #f2dcf1;
 --color-plum-300: #e6c1e2;
 --color-plum-400: #d79bd0;
 --color-plum-500: #c273b8;
 --color-plum-600: #a5549a;
 --color-plum-700: #88437d;
 --color-plum-800: #693560;
 --color-plum-900: #5d3255; 
 --color-plum-950: #3a1834;


  /* ==== Teal Color ===== Secondary Color */
  --color-teal-50: #f3fafa;
  --color-teal-100: #d6f1ee;
  --color-teal-200: #ace3de;
  --color-teal-300: #7bcdc9;
  --color-teal-400: #50b1b0;
  --color-teal-500: #3ca6a6;
  --color-teal-600: #297678;
  --color-teal-700: #245f61;
  --color-teal-800: #214c4e;
  --color-teal-900: #1f4142; 
  --color-teal-950: #0d2426;


  /* === Breakpoints (responsive sizes) === */
  --breakpoint-xs: 400px;   /* Extra Small devices (mobile) */
  --breakpoint-sm: 576px;   /* Small devices (mobile) */
  --breakpoint-md: 768px;   /* Medium devices (tablet) */
  --breakpoint-lg: 992px;  /* Large devices (laptop) */
  --breakpoint-xl: 1200px;  /* Extra large screens */
  --breakpoint-2xl: 1440px; /* 2X large screens */

  /* ===== Fonts ==== */

  --font-nunito:  "Nunito", sans-serif;
}

html 
{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after
{
  box-sizing: inherit;
}

body
{
  font-family: "Inter", sans-serif;
}
