/* Direction.css */
.direction-border
{
    border:2px solid var(--primary-color);
    border-radius: 10px;
}

.direction
{
    height: 350px;
}

@media  all and (max-width:900px) 
{
    .direction
    {
        height: 300px;
    }
}
@media all and (max-width:470px)
{
    .direction
    {
        height: 200px !important;
    }
}